.whatsapp{
    position: fixed;
    bottom: 5%;
    right: 3%;
    z-index: 999;
    height :55px;
    width: 55px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
   transition: 1s all ease;
   /* background-color:  #00a6a6; */
   color: white;
   border-radius: 50%;
  gap: 1px;
   padding-left: 3px;
  }
  .main{
    position: relative;
    font-family: 'Gilroy', sans-serif;
  }
  .whatsapp img{
    height: 60px;
    width: 60px;
  }
  .whatsapp h3{
    white-space: nowrap;
    color: white;
    text-shadow: 0px 4px 22.2px rgba(0, 0, 0, 0.25);
  }
  .whatsapp:hover{
    width: 174px;
    padding: 5px;
    background-color: #00a6a6;
    border-radius: 15px;
  
  }

/* other hostel.css */
.ourHosteldiv{
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* margin: 2rem 0rem; */
  margin-bottom: 3rem;
  /* gap: 1rem; */
  padding: 0rem 6.3rem;
  padding-right: 13rem;
  padding-right: 13rem;
}
.exploremore{
  /* margin-top: 0.5rem; */
  padding: 0.5rem 1rem;
  background-color: #f2de82;
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
     /* align-self: end; */
     /* border: 1px solid black; */
     border-radius: 100px;
 }
 .ourhostelsHeading{
  margin: 0;
  /* text-decoration: underline; */
  font-weight: 700;
      color: rgb(67, 62, 62);
 }
.explorediv{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
 
@media (max-width: 1000px){
  .ourHosteldiv{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2rem 0rem;
      margin-bottom: 3rem;
      gap: 1rem;
      padding: 0;
  }
  .ourhostelsHeading{
    /* font-size: rem; */
      font-weight: 700;
      color: rgb(67, 62, 62);
      text-decoration: underline;
      /* margin-bottom: 1rem; */
  }
  .exploremore{
   /* margin-top: 0.5rem; */
   padding: 0.5rem 1rem;
   background-color: #f2de82;
   color: black;
   font-weight: 600;
   font-size: 1.5rem;
      /* align-self: end; */
      /* border: 1px solid black; */
      border-radius: 100px;
  }
  .whatsapp img{
    height: 60px;
    width: 60px;
  }
}