.ourHosteldiv{
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* margin: 2rem 0rem; */
    /* margin-bottom: 3rem; */
    /* gap: 1rem; */
    padding: 0rem 6.3rem;
    padding-right: 8rem;
    /* padding-right: 13rem; */
    margin-top: 3rem;
   
}
.exploremore{
    margin-top: 1rem;
    padding: 1.2rem 1rem;
    background-color: #ffc72cc9;
      /* box-shadow: 0px 2px 30.4px 0px rgba(0, 0, 0, 0.25); */
    color: black;
    font-weight: 500;
    font-size: 1.5rem;
       /* align-self: end; */
       border: 0.1px solid #3a3a3a;
       border-radius: 100px;
   }
   .ourhostelsHeading{
    margin: 0;
    padding-left: 1rem;
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 500;
    color: #000000;
   }
.explorediv{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
   
@media (max-width: 1000px){
    .ourHosteldiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 0rem;
        margin-bottom: 2rem;
        gap: 1rem;
        padding: 0;
    }
    .pcourhostelsheading{
        display: none;
    }
    .ourhostelsHeading{
        font-weight: 600;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        color: rgb(67, 62, 62);
        /* text-decoration: underline; */
        /* margin-bottom: 1rem; */
    }
    .exploremore{
     /* margin-top: 0.5rem; */
     margin-top: 0rem;
     padding: 1.2rem 1rem;
     padding: 0.5rem 1rem;
     background-color: #ffc72cc9;
     /* box-shadow: 0px 2px 30.4px 0px rgba(0, 0, 0, 0.25); */
     font-weight: 500;
     font-size: 1.5rem;
        /* align-self: end; */
        /* border: 1px solid black; */
        border-radius: 100px;
    }
}