.ourHosteldiv{
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* margin: 2rem 0rem; */
    /* margin-bottom: 3rem; */
    /* gap: 1rem; */
    padding: 0rem 6.3rem;
    padding-right: 8rem;
    /* padding-right: 13rem; */
    margin-top: 3rem;
   
}
.exploremore{
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    padding-right: 1.7rem;
    background-color: #ffc72cc9;
      /* box-shadow: 0px 2px 30.4px 0px rgba(0, 0, 0, 0.25); */
    color: black;
    width: 30vh;
    text-align: center;
    font-weight: 500;
    height: 10vh;
    font-size: 1.5rem;
       /* align-self: end; */
       border: 0.1px solid #3a3a3a;
       border-radius: 100px;
       position: relative;
       overflow: hidden;
   }
   .exploremore:hover{
    background-color: transparent;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .exploremore::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    /* margin: 0; */
      background-color: black;
    left: 0;
    z-index: -1;
    border-radius: 50%;
    transition: all ease 0.4s;
  }
  .exploremore:hover::after{
    border-radius: 0;
    bottom: 0;
  }

   .ourhostelsHeading{
    margin: 0;
    padding-left: 1rem;
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 500;
    color: #000000;
   }
.explorediv{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

   
@media (max-width: 1000px){
    .ourHosteldiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 0rem;
        margin-bottom: 2rem;
        gap: 1rem;
        padding: 0;
    }
    .pcourhostelsheading{
        display: none;
    }
    .ourhostelsHeading{
        font-weight: 600;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        color: rgb(67, 62, 62);
        /* text-decoration: underline; */
        /* margin-bottom: 1rem; */
    }
    .exploremore{
     /* margin-top: 0.5rem; */
     margin-top: 0rem;
    
     padding: 0.8rem 0rem;
     padding-right: 2.8rem;
     background-color: #ffc72cc9;
     /* box-shadow: 0px 2px 30.4px 0px rgba(0, 0, 0, 0.25); */
     font-weight: 500;
     font-size: 1.5rem;
        /* align-self: end; */
        /* border: 1px solid black; */
        border-radius: 100px;
        height: 8vh;
        width: 30vh;
    }
}