/* FONT FAMILY */

  
  /* VARIABLES */
  
  :root {
    --Color-Yellow: #ffc700;
    --Color-Aqua: #41c9e2;
    --Color-black: #000000;
    --Text-Shadow: 2px 1px 1px #000;
    --Box-Shadow: #000000 0px 2px 5px -1px, #000000 0px 1px 3px -1px;
  }
  
  @font-face {
    font-family: Hansief;
    src: url("../font/Hansief\ Rough.ttf") format('truetype');

  }
  
  .AboutPage {
    
    display: flex;
    flex-direction: column;
    padding-top: 7rem;
  }
  
  /* HEDAING SECTION */
  
  .AboutPage > .Heading {
    text-align: center;
    /* margin-top: 1.8rem; */
    font-family: sans-serif;
    font-size: 4rem;
    text-shadow: var(--Text-Shadow);
  }
  .Heading > h1 {
    color: var(--Color-Yellow);
  }
  
  /* TEXT IMAGE SECTION  */
  
  .AboutPage > .PageArticle {
    margin: 4rem 0rem;
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
  }
  

   #TextContent {
    background-color: var(--Color-Aqua);
    padding: 3rem;
  }
  #TextContent p{
    color: white;
    font-family: Hansief;
    font-size: 2.7rem;
    color: white;
    letter-spacing: 0.1rem;
    border-radius: 0.5rem;
    text-shadow: var(--Text-Shadow);
  }
  #Letter {
  
    color: white;
    font-family: Hansief;
    font-size: 4rem;
    color: white;
    letter-spacing: 0.1rem;
    border-radius: 0.5rem;
    text-shadow: var(--Text-Shadow);
  }
  
  /* IMAGE SECTION */
  
  #ImageContent > .AboutImage {
    max-width: 500px;
    height: auto;
    border-radius: 0.5rem;
    filter: grayscale(100%);
    transition: all 450ms linear;
  }
  
  #ImageContent > .AboutImage:hover {
    filter: grayscale(0%) brightness(90%);
  }
  
  /* ABOUT TEXT SECTION */
  
  #AboutContent {
    width: 80%;
    margin: auto;
    font-family: sans-serif;
    text-align: justify;
    font-size: 1.1rem;
    font-weight: 500;
  }
  
  /* MEDIA QUERRY  */
  @media only screen and (max-width: 768px) {
    .AboutPage > .PageArticle {
      margin: 4rem 0rem;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      justify-content: center;
      align-items: center;
    }
  
    #TextContent {
      font-size: 1.8rem;
      padding: 2rem;
    }
  }
  