.listyourPropertyDiv{
    height: 100vh;
    margin-top: 0;
    margin-bottom: 18rem;
    padding: 0 2rem;
    padding-top: 7rem;
   img{
    height: 5rem;
    border-radius: 100px;
    padding: 2px;
    border: 2px solid black;
   }
    .mainList{
        /* background-color: white; */
        margin-left: 3rem;
        margin-right: 3rem;
        /* border:2px solid black; */
        border-radius: 30px;
        height: 50rem;
        padding-top: 1rem;
       
        .sublist{
            display: flex;
            justify-content: space-between;
            padding-left: 4rem;
            padding-right: 4rem;
            padding-top: 2rem;
            flex-wrap: wrap;
            .leftlist{
                display: flex;
                flex-direction: column;
                gap: 2.5rem;
                h3{
                    font-size: 2.5rem;
                    /* color: #faca08; */
                }
                .listFeatureDiv{
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    h2{
                        font-size: 2rem;
                        /* color: #faca08; */
                    }
                }
            }
        }

    }
    h1{
        text-align: center;
        font-size: 3rem;
        color: #000000;
    font-weight: 600;
    }
}
@media (max-width: 1000px) {
    .listyourPropertyDiv{
        height: 100vh;
        margin-top: 0;
        /* margin-bottom: 12rem; */
        /* padding: 0 2rem; */
        padding-top: 7rem;
        margin-bottom: 50rem;
       img{
        height: 2rem;
        border-radius: 100px;
        padding: 2px;
        border: 2px solid black;
       }
        .mainList{
            /* background-color: white; */
            margin-left: 0rem;
            margin-right: 0rem;
            /* border:2px solid black; */
        
            .sublist{
                display: flex;
                justify-content: space-between;
                align-items: center;
             padding: 0;
                padding-top: 2rem;
                flex-wrap: wrap;
                .leftlist{
                    display: flex;
                    flex-direction: column;
                    gap: 2.5rem;
                    h3{
                        font-size: 1.3rem;
                        font-weight: 700;
                        /* white-space: nowrap; */
                        /* color: #faca08; */
                    }
                    .rightlist{
                        display: flex;
                        align-items: center;
                    }
                    .listFeatureDiv{
                        display: flex;
                        gap: 1rem;
                        align-items: center;
                        h2{
                            font-size: 1.5rem;
                            /* color: #faca08; */
                        }
                    }
                }
            }
    
        }
        h1{
            text-align: center;
            font-size: 2.5rem;
            color: #000000;
            text-decoration: underline;
        }
    }
  }
  