.namephoneformdiv{
    display: flex;
    border-radius: 1.375rem;
    background: var(--form-gradient, linear-gradient(90deg, rgba(88, 111, 239, 0.26) 9.31%, rgba(88, 111, 239, 0.49) 92.32%));
    height: 2.6rem;
    align-items: center;
    /* padding: 1rem; */
    padding: 0 1rem;
    
    /* gap: 1rem; */
}
.requestcallbackform{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
#whatsappsubmit{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 1rem;
    background-color: #58be54;
}
.namephoneinput{
    border-radius: 0.9375rem;
    border: transparent;
    background: rgba(255, 255, 255, 0.93);
  /* width: 13rem; */
height: 2rem;
    width: 19rem;
    margin-left: 1rem;
    padding: 1rem;
}
.genderdiv{
    display: flex;
    justify-content: start;
    gap: 1.2rem;
    margin-left: 0.3rem;
}
.checkeddiv{
    display: flex;
    gap: 0.2rem;
    align-items: center;
}
.checkeddiv input{
    width: 1rem;
    height: 1rem;
   outline: none;
   accent-color: #d2d7f9;

}
.checkeddivwhatsapp{
    display: flex;
    gap: 0.2rem;
    align-items: center;
}
.checkeddivwhatsapp input{
    width: 1rem;
    height: 1rem;
    accent-color: #d2d7f9;
}
.whatsappcheck{
    font-size: 0.8rem;
}
.submit{
    width: 15rem;
    height: 3rem;
    flex-shrink: 0;
    align-self: center;
    border-radius: 0.6875rem;
    background: #5ED2FF;
    cursor: pointer;
    color: #FFF;
font-size: 1rem;
font-style: normal;
border: none;
outline: none;
}