.diwali-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    background: linear-gradient(90deg, #ffc72c, #ff5733); /* Dark background for contrast */
    color: #ffc72c; /* Gold color for text */
    text-align: center;
    padding: 1rem; /* Add some padding for mobile devices */
  }
  
  .diwali-text {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: rgb(0, 0, 0);
  }
  
  .diwali-message {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: rgb(0, 0, 0);
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .diwali-text {
      font-size: 2.5rem; /* Slightly smaller for mobile */
    }
  
    .diwali-message {
      font-size: 1.2rem; /* Adjust message size for mobile */
      margin-bottom: 1.5rem; /* Reduce margin */
    }
  
    .diwali-loader {
      padding: 0.5rem; /* Reduce padding for mobile */
    }
  }
  
  @media (max-width: 480px) {
    .diwali-text {
      font-size: 2rem; /* Further reduce for small screens */
    }
  
    .diwali-message {
      font-size: 1rem; /* Smaller message size for very small screens */
    }
  }
  