.faq{
    min-height: 35rem;
    padding: 3rem;
    border-radius: 10px;
    padding: 2rem 3rem;
   display: flex;
   padding-top: 4rem;
   justify-content: space-between;
   /* display: none; */
   position: relative;
   border-radius: 1.375rem;
    /* background: rgb(254, 244, 244); */
    /* box-shadow: 0px 4px 9.9px 0px rgba(0, 0, 0, 0.25);   */
border: 2px solid black;
    opacity: 76%;
    margin: 2%;
    margin-bottom: 3rem;
    width: 96%;
    gap: 1rem;
}
.questions{
    /* width: 50%; */
    /* height: 100%; */
    }
.questions h1{
    font-size: 2.5rem;
}

.answers{
    width: 40rem;
}
.answers h1{
    font-size: 2.5rem;
}
.answerdivs{
    /* width: 40rem; */
    height: auto;
    margin-top: 2rem;
    padding-bottom: 29%;
    border-radius: 10px;
    position: relative;
    border-radius: 1.75rem;
    border: 1px solid #000;
    background: #ffc72c;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    width: auto;
}
.answerdivs p{
    /* position: absolute; */
    
    font-size: 1.1rem;
    /* font-weight: bold; */
    color: black;
    padding-right: 2rem;
    letter-spacing: 0.02rem;
    line-height: 1.5rem;
}
.questionsdiv{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* gap: 1rem; */
    height: 70%;
}
.questionsdiv button{
    border: 1px solid black;
    border-radius: 10px;
    height: auto;
    margin: 0.3rem 0rem;
    width: auto;
    padding: 1rem;
    padding-right: 4rem;
    text-align: left;
    font-size: 1rem;
    /* background-color: transparent; */
}
.questionsdiv button:hover{
    cursor: pointer;
}
#two{
    background-color: black;
    color: white;
}
.randomfooter{
    height: 1000px;
    width: 1000px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, rgba(12, 175, 255, 0.44) 3.65%, rgba(12, 175, 255, 0.00) 89.17%);
}
.faqmain{
    position: relative;
}
.questionpara{
    background-color: transparent;
}
@media (max-width: 1000px){ 
    .randomfooterelem{
        height: 100%;
        bottom: -10%;
    }
    .faq{
        display: none;
    }
  }