.feature{
    /* min-height: 30rem; */
    border-radius: 22px;
    /* background: linear-gradient(206deg,  #ffffff    11.17%, rgba(12, 175, 255, 0.00) 83.68%); */
    margin: 0;
    margin-top: 1rem;
    padding: 2rem 1rem;
    /* margin-left: 1rem; */
    /* margin-right: 1rem; */
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 2rem;
}
.featuretitle{
    text-align: center;
    font-size: 3.5rem;
    background: linear-gradient(180deg, #000000 0%, #0a0909 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: 0px 4px 22.2px rgba(48, 47, 47, 0.25); */
    font-weight: 600;
}
.featuresection{
    display: flex;
    width: 100%;
    /* background-color: red; */
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.taglinefeature{
    padding-left:2rem;
}
.taglinetext1{
    font-size: 4rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    word-spacing: 3rem;
    line-height: 5rem;
    color : #4F0CA5;
    font-weight: 600;
}
.taglinetext1:nth-child(2){
    word-spacing: 0.5rem;
}
.taglinetext1:nth-child(3){
    color: #FFF;
    font-size: 7rem;
    font-weight: 700;
line-height: normal;

}
.taglinetext1:nth-child(4){
    position: absolute;
    top: 51%;
    left: 16%;
}
.featuredisplay{
    /* width: 60rem; */
    /* background-color: blue; */
    display: flex;
    /* flex-direction: column; */
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;   
}
.featuredisplay1{
    display: flex;
    gap: 2rem;
    flex-direction: row;
    /* flex-wrap: wrap; */
}
.featureblock{
    width: 20rem;
    height: 20rem;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 2rem;
    position: relative;
    box-shadow: 0px 2px 30.4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  
.featurecontent{
    display: flex;
    justify-content: space-between;
}
.featurecontent h1{
    font-size: 2rem;
}
.featurecontent img{
    width: 90px;
    height: 90px;
}
.featureblock p{
    position: absolute;
    top: 50%;
    right: 2rem;
    left: 2rem;
}
.rndomelem{
    position: absolute;
    height: 100px;
    width: 100px;
    bottom: -1.5em;
    right: -1.5rem;
}
@media (max-width: 1000px){ 
    .featuredisplay{
        flex-direction: row;
    }
    .featuredisplay{
        align-items: center;
    }
.featuresection{
    align-items: start;   
}
.featuredisplay{
    padding: 0;
}
.featuretitle{
    white-space: nowrap;
    font-size: 2rem;
    font-weight: 800;
}
.feature{
    margin: 0;
    margin-top: 1rem;
    /* padding: 0.5rem; */
    padding-top: 2rem;
    border-radius: 40px;
    justify-content: center;
    min-height: 30rem;
}
.taglinefeature{
    display: none;
}
.featureblock{
    width: 10rem;
    margin: 0;
    height: 10rem;
    padding: 1rem;

}
.featureblock h1{
    font-size: 1.3rem;
}
.featureblock img{
    width: 50px;
    height: 50px;
}
.featureblock p{
    font-size: 0.5rem;
    margin: 0;
    left: 10%;
    padding: 0;
}
.featuredisplay1{
flex-direction: column;
align-items: center;
padding: 0;
margin: 0;
}
.featuredisplay{
    width: auto;
    align-items: center;
    padding: 0;
    margin: 0;
    padding-top: 1rem;
    /* padding-left: 1rem; */
    justify-content: center;
    width: 100%;
}
.rndomelem{
    bottom: -6%;
    right: -6%;
}

  }
