.main{
  height: 37rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 0.3rem;
  align-items: center;
  padding-top: 10rem;
  width: 100%; 
    /* background-image: url(./images/heropage.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5); /* Adding a semi-transparent overlay */
  /* background-blend-mode: overlay; Blending the overlay with the background image */
  /* background-position: center; */  
}


/* .perfect{
  color: white;
} */
.main h1{
  font-size: 15vh;
  text-align: center;
  font-weight: 500;
  /* white-space: nowrap; */
  line-height: 17vh;
  /* color: white; */
}
.main p{
  font-size: 1.7rem;
  padding-top: 1.3rem;
  text-align: center;
  width: 100%;
  /* color: white; */
}
.explore{
  height: 10vh;
  width: 20vh;
  border-radius: 100px;
  outline: none;
  background-color: transparent;
  font-size: 3.5vh;
  margin-top: 6vh;
  font-family: 'Gilroy', sans-serif;
  transition: 0.6s ease-in-out;
  position: relative;
  overflow: hidden;
  border: 1px solid black;
  transition: all ease 0.4s;
  background-color: #ffc72ca8;
  /* color: white;   */
}
.explore:hover{
  background-color: transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.explore::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -100%;
  /* margin: 0; */
  background-color: black;
  left: 0;
  z-index: -1;
  border-radius: 50%;
  transition: all ease 0.4s;
}
.explore:hover::after{
  border-radius: 0;
  bottom: 0;
}
.explore a{
  color: white;
  font-weight: bold;
}
.parabreakk{
  display: none;
}
.lineBreakHero{
  display: none;
}
.image{
  display: none;
}
.serviceBreak{
  display: none;
}

@media (max-width: 1000px){ 
  .serviceBreak{
    display: block;
  }
  .main h1{
    font-size: 3rem;
    /* margin-top: 6rem; */
    text-align: left;
    /* margin-left: 5vw; */
    /* line-height: 3.2rem; */
    margin-top: 8rem;
    width:  100%;
    line-height: 3.8rem;
    margin-left: 0rem;
  }
  .lineBreakHero{
    display: block;
  }
  .explore{
    position: absolute;
    bottom: 4rem;
    left: 7rem;
    border: 0.5px solid #000;
background: #FFF;
  }
  .image{
    display: block;
    width: 100%;
    height: 20rem;
    }
  .main p{
    margin-left: 0.8rem;
    display: none;
  }
  .main{
    min-height: 46rem;
    padding-top: 0;
    background: linear-gradient(180deg, #e2dfd6 0%, rgba(241, 236, 236, 0) 100%);
    position: relative;
    gap: 2rem;
  }
  .perfect{
    font-weight: 800;
  }
  .parabreakk{
    display: block;
  }
  .menubtn {
    display: block;
    height: 2.8rem;
  }
}