 .logo{
    height: 80px;
    width: 150px;
    margin-top: 45px;
    padding-top: 30px;
    margin-left: 60px;
  }
  .mainnav{
    position: relative;
  }
  .scrollnav{
    background-color: white;
    backdrop-filter: blur(10px);
  }
  .header-hidden { 
    transform: translateY(-100%); 
    transition: transform 0.5s ease; 
  } 
   
  /* Visible state */ 
  .header-visible { 
    transform: translateY(0); 
    transition: transform 0.5s ease; 
  } 
  .nav{
     position: fixed;
      display:flex;
      justify-content: space-between;
      align-items: end; 
      height: 12vh;  
      background-color: transparent;   
      padding: 0 3vw;
      width: 100%;
      z-index: 111;
    }
    .mainlist{
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: end;
    }
.pcnavlist{
      display: flex;
      gap: 0.3rem;   
    }
   .pcnavlist li{
      border: 1px solid #c3bfb9;
      padding: 2vh 4vh;
      border-radius: 20px;
     font-weight: 500;
     position: relative;
     transition: all ease 0.4s;
     overflow: hidden;
      letter-spacing: 0.12rem;
    }
   .pcnavlist li::after{
    content :"";
    height: 100%;
    width: 100%;
    position: absolute;
    /* background-color: #73caf5;    */
    background-color:  #f2d55f;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
    }
   .pcnavlist li:hover::after{
      bottom: 0;
      border-radius: 0;
    }
   .pcnavlist li p{
      position: relative;
      z-index: 9;
    }
   .pcnavlist li:hover p{
      color: rgb(0, 0, 0);
    }
    .menubtn{
      display: none;
    }
    .mobilenavlist{
      display: none;
    }
  
    @media (max-width: 412px){ 
      .pcnavlist{
        display: none;
      }
        .menu{
          display: block;
        }
        .logo{
          height:4rem;
          width: 8rem;
          margin-left: 0cqw;
          margin-top: 1rem;
        }
        .mobilenavlist{
          display: block;
        }
        .nav{
          flex-direction: column;
        margin: 0;
        padding: 0;
          width: 21rem;
          margin-left: 2rem;
       margin-top: 1.5rem;
       /* height: 2rem; */
       /* height: 100%; */
       height: 5vh;
      background-color: white;
       padding: 0 1rem;
       padding-top: 1rem;
       border-radius: 0.75rem;
       justify-content: center;
       align-items: start;
       padding-top: 9vh;
       overflow: hidden;
       transition: 0.3 ease-in-out;
       /* padding-bottom: 1.2rem; */
      /* padding-bottom: 5vh; */
        }
        .mobilenavlist{
          display: flex;
          flex-direction: column;
          /* gap: 2rem; */
          padding-top: 1.2rem;
        }
        .mobilenavlist li{
          font-size: 2rem;
          
        }
        .mobilenavlist li p{
          text-decoration: underline;
        }
        .scrollnav{
          background-color: white;
          backdrop-filter: blur(0px);
        }
      }