 .logo{
    height: 80px;
    width: 150px;
    margin-top: 45px;
    padding-top: 30px;
    margin-left: 60px;
  }
  .mainnav{
    position: relative;
  }
  .scrollnav{
    backdrop-filter: blur(80px);
  }
  .header-hidden { 
    transform: translateY(-100%); 
    transition: transform 0.5s ease; 
  } 
   
  /* Visible state */ 
  .header-visible { 
    transform: translateY(0%); 
    transition: transform 0.5s ease; 
  } 
  .nav{
     position: fixed;
      display:flex;
      justify-content: space-between;
      align-items: end; 
      height: 12vh;  
      background-color: transparent;   
      padding: 0 3vw;
      width: 100%;
      z-index: 111;
    }
    .mainlist{
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: end;
    }
.pcnavlist{
      display: flex;
      gap: 0.3rem;   
    }
   .pcnavlist li{
      border: 1px solid #c3bfb9;
      padding: 2vh 4vh;
      border-radius: 20px;
     font-weight: 500;
     position: relative;
     transition: all ease 0.4s;
     overflow: hidden;
      letter-spacing: 0.12rem;
    }
   .pcnavlist li::after{
    content :"";
    height: 100%;
    width: 100%;
    position: absolute;
    /* background-color: #73caf5;    */
    background-color:  #f2d55f;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
    }
   .pcnavlist li:hover::after{
      bottom: 0;
      border-radius: 0;
    }
   .pcnavlist li p{
      position: relative;
      z-index: 9;
      /* color: white; */
    }
   .pcnavlist li:hover p{
      color: rgb(0, 0, 0);
    }
    .menubtn{
      display: none;
    }
    .mobilenavlist{
      display: none;
    }
  
    @media (max-width: 1000px){ 
      .header-visible { 
        transform: translateY(0); 
        transition: transform 1s ease; 
      } 
      .header-hidden { 
        transform: translateY(-200%); 
        transition: transform 1s ease; 
      } 
      .pcnavlist{
        display: none;
      }
        .menu{
          display: block;  
        }
        .menubtn{
          border: 1px solid black;
          border-radius: 50%;
          padding: 5px;
        }
        .logo{
          height:4rem;
          width: 8rem;
          margin-left: 0cqw;
          margin-top: 1rem;
        }
        .mobilenavlist{
          display: block;
        }
     .logo{
      width: 128px;
      height: 40px;
      margin: 0;
      padding: 0;
     }
        .nav{
         width: 90%;
         padding-top: 0.5rem;
         display: flex;
         flex-direction: column;
         margin-top: 1.8rem;
          align-items: start;
          background-color: white;
          justify-content: start;
          height:  auto;
          border-radius: 12px;
          height: 3.5rem;
          overflow: hidden;
          transition: 0.7s ease-in-out;
      
          /* click hoen ke baddd kiya kiya chahiye */
          /* margin: 0;   padding-top: 1.8rem; */
           /* background: linear-gradient(180deg, #FFFFFF 51.78%, rgba(255, 255, 255, 0.51) 85.71%, rgba(255, 255, 255, 0) 100%);
           border-radius: 0; width: 100%;   padding-left: 1.5rem;   padding-right: 1.5rem; */

        }
        .navmainhead{
          display: flex;
          justify-content: center;
          /* height: 20rem; */
        }
        .mobilenavlist{
          display: flex;
          flex-direction: column;
          gap: 2rem;
          padding-top: 1.2rem;
          align-items: start;
          justify-content:  space-between;
          margin-bottom: 1rem;
           /* click hoen ke baddd kiya kiya chahiye */
           margin-top: 3rem;
           gap: 3rem;
           margin-bottom: 25rem;
        }
        .mobilenavlist li{
          font-size: 2rem;
        }
        .mobilenavlist li p{
          text-decoration: underline;
        }
        .scrollnav{
          background-color: white;
          backdrop-filter: blur(0px);
        }
      }
      