 .logo{
    height: 80px;
    width: 150px;
    margin-top: 45px;
    padding-top: 30px;
    margin-left: 60px;
  }
  .mainnav{
    position: relative;
  }
  .scrollnav{
    background-color: white;
    backdrop-filter: blur(10px);
  }
  .header-hidden { 
    transform: translateY(-100%); 
    transition: transform 0.5s ease; 
  } 
   
  /* Visible state */ 
  .header-visible { 
    transform: translateY(0); 
    transition: transform 0.5s ease; 
  } 
  .nav{
     position: fixed;
      display:flex;
      justify-content: space-between;
      align-items: end; 
      height: 12vh;  
      background-color: transparent;   
      padding: 0 3vw;
      width: 100%;
      z-index: 111;
    }
    .nav ul{
      display: flex;
      gap: 0.3rem;   
    }
    .nav li{
      border: 1px solid #c3bfb9;
      padding: 2vh 4vh;
      border-radius: 20px;
     font-weight: 500;
     position: relative;
     transition: all ease 0.4s;
     overflow: hidden;
      letter-spacing: 0.12rem;
    }
    .nav li::after{
    content :"";
    height: 100%;
    width: 100%;
    position: absolute;
    /* background-color: #73caf5;    */
    background-color:  #f2d55f;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
    }
    .nav li:hover::after{
      bottom: 0;
      border-radius: 0;
    }
    .nav li p{
      position: relative;
      z-index: 9;
    }
    .nav  li:hover p{
      color: rgb(0, 0, 0);
    }
    .menubtn{
      display: none;
    }
    .mobilenav{
      min-height: 0rem;
      background-color: #000000;
      /* border-radius: 0 0 70px 70px; */
      position: absolute;
      z-index: 111;
      bottom: 0; /* Adjust as needed */
      left: 0;

      width: 100%;
      top: 120%;
      transition: all .5s ease-in-out;
      overflow: hidden;
    }
    .mobilenav ul{
        /* position: absolute; */
        /* bottom: 30%; */
        font-size: 2rem;
        /* font-weight: bolder; */
        text-align: left;
        white-space: nowrap;
      text-decoration: dashed;
        line-height: 4.5rem;
        /* color: #FFF; */
        left: 10%;
        list-style: none;
    }
    @media (max-width: 412px){ 
        .nav ul{
          display: none;
        }
        .menu{
          display: block;
        }
        .logo{
          height:4rem;
          width: 8rem;
          margin-left: 0cqw;
          margin-top: 1rem;
        }

        .nav{
          border-radius: 0.75rem;
          background: #FFF;
          height: 3rem;
          padding-top: 2rem;
         width: 92vw;
          margin-left: 5vw;
          /* margin-right: 1rem; */
          /* right: 2rem; */
          top: 2rem;
          /* align-items: start; */
         
          
        }
      }