.moving-text{
    white-space: nowrap;
    overflow-x: auto;
    overflow: hidden;
    margin-top: 6vh;
  }
  .con{
      display: inline-block;
      white-space: nowrap;
      animation-name: move;
      /* align-items: center; */
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-duration: 8s;
      animation-direction:normal;
  }
  .moving-text h1{
      font-size: 6rem;
      display: inline-block;
      /* background-color: blue; */
      font-weight: 500;
  }
  .moving-text::-webkit-scrollbar{
      display: none;
  }
  .gola{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #ffc72cd3;
      display: inline-block;
      margin: 3vw 1.7vw;
      margin-top: 0vw;
      margin-bottom: 0.7vw;
  }
  @keyframes move {
      from{
          transform: translateX(0);
      }
      to{
          transform: translateX(-100%);
      }
  }
  @media (max-width: 1000px){ 
    .moving-text h1{
        font-size: 2.5rem;
        display: inline-block;
        /* background-color: blue; */
        font-weight: 500;
    }
    .moving-text{
        margin-top: 0;
    }
    .gola{
        width: 20px;
        height: 20px;
    }
  }