.testimonial{
    min-height: 50vh;
    /* width: 100%; */
    margin: 3rem;
    margin-top: 5vh;
    padding: 2rem;

    /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
    border-radius: 1.375rem;
  border: 1px solid #000;
  background: linear-gradient(136deg, #FFF7E3 80%, rgba(255, 247, 227, 0.00) 141.46%);
}
.testimonialtitle{
  color: #000;
    text-align: right;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.5rem;
}
.testimonialtitlepara{
  color: #000;
  font-size: 1.7rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: right;
margin-bottom: 1.3rem;
}
.testimonialsection{
  height: 27rem;
  width: 100%;
  background-color: #ffffff;
  border-radius: 15px;
  border-radius: 1.3125rem;
background: #FFF;
box-shadow: 0px 4px 13.2px 0px rgba(0, 0, 0, 0.25);
position: relative;
}

.testimonialsection img{
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  margin-left: 2rem;
  margin-top: 2rem;
}
.testimonialsection p{
  margin-left: 3rem;
  margin-top: 1rem;
  margin-right: 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.swiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  text-align: center;
  font-size: 12px;
  background-color: #000000;
  opacity: 1;
  display: none;
}

.testimonialsection h6{
  position: absolute;
  color: #002C39;
  text-align: right;
  top: 12%;
  right: 5%;
font-size: 2.5rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.swiper .swiper-pagination-bullet-active {
  border-radius: 50%;
  border: 1px solid black;
 
}


  @media (max-width: 412px){ 
  .swiper{
    margin: 2rem;
    box-shadow: none;
    background-color: transparent;
  }
.testimonialtitlepara{
    margin-right: 1rem;
}
  .swiper .swiper-pagination-bullet{
    height: 10px;
    width: 10px;
    display: block;
    display: flex;
  }
  .testimonialtitle{
    font-size: 3rem;
    margin-right: 1rem;
  }
  .swiper{
    border-radius: 1.3125rem;
    
  }
  .swiper .swiper-slide {
    box-shadow: none;
    background-color: transparent;
    /* box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2); */
    /* border-radius: 10px; */
    opacity: 1;
    /* transition: all ease-in-out 0.3s; */
    /* box-shadow: inset 2px -2px 20px rgba(214, 214, 214, 0.2), inset -3px 3px 3px rgba(255, 255, 255, 0.4); */
  }
  .testimonial{ 
    margin: 0;
    margin-top: 5vh;
    padding: 0;
    padding-top: 2rem;
 
    margin: 1rem;
  }
  .testimonialsection{
    margin-bottom: 0;
    width: 100%;
  }
  .testimonialsection h6{
    font-size: 2rem;
    
  }
  .testimonialsection img{
    margin-left: 1rem;
  }
  .testimonialsection p{
    margin-left: 1rem;
  }
}