.RegistrationForm {
  width: 100%;
  padding: 30px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 30.4px 0px rgba(0, 0, 0, 0.25);
  border: 2px solid black;
  position: relative;
}
.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.RegistrationForm .Form .OwnerInformations {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 20px 0px;
}

.OwnerInformations > .UserFeildInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.OwnerInformations > .UserFeildInputs > label {
  padding: 5px;
  font-size: 22px;
  align-self: start;
  font-weight: 600;
}
.OwnerInformations > .UserFeildInputs > input {
  width: 100%;
  height: 50px;
  padding: 2px 15px;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 20px;
  border-bottom: 2px solid black;
  transition: all 450ms linear;
}
.ownerButtonForm {
  width: 20rem;
  height: 5rem;
  flex-shrink: 0;
  border-radius: 3rem;
  background: #ffc72c;
  margin-top: 2rem;

  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  border: none;
  outline: none;
  z-index: 100;
}
.ownerButtonForm:hover {
  transform: scale(1.03);
  background-color: #dbac28;
}

.OwnerInformations > .UserFeildInputs > input:focus,
input:valid {
  border-color: rgb(241, 188, 74);
}
@media (max-width: 480px) {
  .ownerButtonForm {
    width: 10rem;
    height: 3rem;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .ownerButtonForm {
    width: 15rem;
  }
  .RegistrationForm {
    .Form {
      .OwnerInformations {
        margin: 20px 40px;
      }
    }
  }
}
