.achievementPage{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
    padding-top: 10rem;
    gap: 1rem;
}
.achievementPage h1{
    text-align: center;
    font-size: 3rem;
}
.achivementMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    width:auto;
    padding: 2rem;
    background-color: white;
    border-radius: 2rem;
    p{
        font-weight: 600;
        font-size: 1.2rem;
    }
    a{
        color: blue;
    }
}
.subachievement{
    display: flex;
    height: 20rem;
    width: 100%;
    align-items: center;
}
.achivementMain1 img{
    height: 20.5rem;
    width: 50rem;
    /* border-radius: 0px 30px 30px 0px; */
}
.achivementMain1{
    border-radius: 0px 30px 30px 0px;
    padding-right: 1px;
}
.achievementParadiv:nth-child(1){
    width: 20rem;
    border-radius: 30px 0px 0px 30px;
}
.achievementParadiv:nth-child(2){
    width: 70rem;
    border-radius: 0px 30px 30px 0px;
}


.achivementMain2 img{
    height: 20rem;
    width:  10%;
}

.achievement3 p{
    font-weight: 600;
    width: 64rem;
    background-color: #F7D441;
    padding: 2rem;
    height: 20rem;
    border-radius: 30px 0px 0px 30px;
    opacity: 90%;
}
.achievement3 img{
    height: 20rem;
    width: 10%;
}
.achievementParadiv{
    background-color: #F7D441;
    padding: 2rem;
    height: 20rem;
    /* opacity: 30%; */
opacity: 90%;
}

.achievementParadiv:nth-child(2) p{

    width: 64rem;
    background-color: #F7D441;

}