.hostelMainpage{
   position: relative;
    padding: 1rem 6.3rem;
    padding-top: 8rem;
    padding-right: 13rem;
}
.Hostelheading{
    color: #008993FC;
    letter-spacing: 0.1rem;
}
.laodingscreen{
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* loader */
.laodingscreen h1{
    font-size: 3rem;
    font-weight: 600;
}
.laodingscreen p{
    font-size: 2rem;
}

.Hostelheading a{
    color: #008993FC;
    letter-spacing: 0.1rem;
}
.mainHead{
    color: #000;
font-size: 2.375rem;
font-weight: 600;
}
.hostels{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    gap: 2rem;
}
.single-hostel{
    height: 17rem;
    border-radius: 3.125rem;
    background: #FFF;
    box-shadow: 0px 4px 31px -12px rgba(0, 0, 0, 0.25);
    display: flex;
    /* padding-right: 3rem; */
    position: relative;  
    
}
.single-hostel:hover{
 box-shadow: 0px 4px 31px -4px rgba(0, 0, 0, 0.25);
}
.double{
    border-radius: 1.25rem;
    background: rgba(217, 217, 217, 0.45);
    width: 7rem;
    height: 2.25rem;
    position: absolute;
    z-index: 111;
    top: 1rem;
    right: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.double img{
    width: 1.5rem;
    height: 1.5rem;
}
.triple{
    border-radius: 1.25rem;
    background: rgba(217, 217, 217, 0.45);
    width: 7rem;
    height: 2.25rem;
    position: absolute;
    z-index: 111;
    top: 1rem;
    right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.triple img{
    width: 1.5rem;
    height: 1.5rem;
}
.hostelimage{
    height: 17rem;
    border-radius: 3.125rem 0rem 0rem 3.125rem;
    width: 23rem;
}
.hostelContentdiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    margin-left: 1rem;
   margin-top: 1rem;
}
.namediv h1{
     color: #101720;
    font-size: 2.125rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.address{
    display: flex;
    justify-content: space-between;
}
.address p{
    color: #000;
font-size: 1.3rem;
font-style: normal;
font-weight: 400;
}
.address img{
    height: 1.5rem;
    width: 1.5rem;
}
.address a{
    color: rgba(0, 137, 147, 0.99);
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0, 137, 147, 0.99);
    font-family: Inter;
    font-size: 1.rem;
    margin-right: 2.5rem;
}
.pricediv{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 1rem;
}
.pricediv img{
    width: 1rem;
    height: 1rem;

}
.price{
    color: #000;

font-size: 1.5rem;
font-weight: 500;
}
.price img{
    width: 1rem;
    height: 1rem;
}
/* .requestCallBAckForm{
    border-radius: 0.6875rem;
    background: rgba(139, 223, 255, 0.90);
    width: 15rem;
    height: 3rem;
    color: #002C39;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
} */
.form{
    height: 21rem;
    width: 21rem;
    border-radius: 1.625rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background: #FFF;
    box-shadow: 0px -1px 4.2px 1px rgba(0, 0, 0, 0.25);
    margin-right: 1rem;
    padding: 1rem;
}
.response{
    width: 12rem;
    height: 3rem;
    flex-shrink: 0;
    align-self: center;
    border-radius: 0.6875rem;
    background: #5ED2FF;
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    border: none;
    margin-right: 2rem;
    outline: none;
}
@media (max-width: 412px){ 
  .pricediv{
    align-items: start;
    justify-content: start;
    margin: 0;
    gap: 0;
  }
    .form{
        margin: 0;
    }
    .laodingscreen h1{
        font-size: 2rem;
    }
    .laodingscreen p{
        font-size: 1rem;
    }
    .hostelMainpage{
        padding: 0rem 0rem;
        padding-right: 0rem;
        padding-left: 1rem;
        padding-top: 8rem;
    }
    .single-hostel{
        min-height: 38rem;
        border-radius: 3.125rem;
       width: 22.6rem;
        background: #FFF;
        box-shadow: 0px 4px 31px -12px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        padding-right: 2rem;
        position: relative;  
        margin: 1rem;
        margin-left: 0rem;
        }
    .address p{
        font-size: 1rem;
        padding: 0;
        margin: 0;
    }
    .address{
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1rem;
    }
    .hostelimage{
        height: 17rem;
        width:  22.6rem;
        border-radius: 3.125rem 3.125rem 0rem 0rem;
    }
    .hostelContentdiv{
        padding: 0;
        margin: 0;
        margin-left: 1rem;
        width: 100%;
    }
    .namediv h1{
        margin-top: 1rem;
    }
    .pricediv{
        flex-direction: column;
        gap: 5rem;
    }
    .double{
        top: 30rem;
        left: 1rem;
    }
    .triple{
        top: 30rem;
        left: 9rem;
    }

    .pricediv a button{
        width: 21rem;
    }
    }
    